<input type="text" ng-model="ctrl.nameFilter" placeholder="Search..." />
<hello vprops-first-name="'peter'" vprops-last-name="'cosemans'"></hello>
<table>
  <thead>
    <tr>
      <th colspan="4">Drivers Championship Standings</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="driver in ctrl.driversList | filter: ctrl.searchFilter">
      <td>{{$index + 1}}</td>
      <td>
        <img ng-src="/assets/img/flags/{{driver.Driver.nationality}}.png" />
        <a ng-href="#/drivers/{{driver.Driver.driverId}}">
          {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
        </a>
      </td>
      <td>{{driver.Constructors[0].name}}</td>
      <td>{{driver.points}}</td>
    </tr>
  </tbody>
</table>
